# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log

# Vite build outputs
dist/
dist-ssr/
*.local

# Flutter specific ignore files
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.pyc

# Local config & IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
.env
.env.local
.env.*.local
